$main_color: #ff5d00;
$lightGray: rgb(245, 245, 245);
$black: black;
$white: white;

////////////////////////////

.debug {
	background-color: pink;
	border: 1px solid $black;
}

.table {
	> div {
		display: flex;
		justify-content: space-between;

		> div {
			padding: 0 4px;
		}
	}

	> div:first-child {
		> div {
			background-color: $main_color;
			background-color: black;
			border: solid 2px $white;

			> p {
				color: white;
			}
		}
	}

	> div {
		> div {
			background-color: $lightGray;
			border: solid 2px $white;
		}
	}
}

.short-margin-bottom {
	margin-bottom: 12px;
}

.short-margin-right {
	margin-right: 12px;
}

.display_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.display_none {
	display: none;
}

.justify-content_flex-start {
	justify-content: flex-start;
}

.justify-content_flex-end {
	justify-content: flex-end;
}

.full-size {
	width: 100%;
	height: 100%;
}

div.button {
	cursor: pointer;
	border: solid 1px $black;
	background-color: $black;
	padding: 0 8px;
	display: flex;
	justify-content: center;

	> p {
		font-weight: bold;
		color: $white;
	}
}

////////////////////////////

.width_100percent {
	width: 100%;
}

.width_90percent {
	width: 90%;
}

.width_80percent {
	width: 80%;
}

.width_75percent {
	width: 75%;
}

.width_60percent {
	width: 60%;
}

.width_50percent {
	width: 50%;
}

.width_48percent {
	width: 48%;
}

.width_40percent {
	width: 40%;
}

.height_100percent {
	height: 100%;
}

.height_50percent {
	height: 50%;
}

.background-color_black {
	background-color: $black;
}

.background-color_white {
	background-color: $white;
}

.background-color_main {
	background-color: $main_color;
}

p.font-size_120rem {
	font-size: 1.2rem;
}

p.font-weight_bold {
	font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
}